
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'roboto', sans-serif; */
  font-family: segoe ui,Helvetica,droid sans,Arial,lucida grande,tahoma,verdana,arial,sans-serif;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #f5f5f5; */
  background-color: #fdd670;
  z-index: 9;
 
}

.nav{
  /* padding: 10px 10vw; */
  padding: 5px 2vw;
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  column-gap:3%;
  font-size: 12px;
  align-items: center;

}
.nav-items-logo{
  display: flex;
  align-items: center;
}
.humberger{
  
  width: 30px;
  height: 30px;
}

.brand-logo{
  /* height: 60px;
  font-style: italic;
 margin-top: 25px; */

 height: 40px;
background-size: 125px;
width: 154px;
}

.nav-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-right:10px; */
  position: relative;
  right: 35%;

   
}

.search{
  width: 700px;
  display: flex;
}
.search-icon{
  width: 35px;
  height: 35px;
}

.search-box{
  width: 80%;
  height: 40px;
  padding: 10px;
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background:#fff;
  color: #a9a9a9;
  
  outline: none;
  border-radius: 3px;
}

.search-btn{

  height: 20px;
  width: 20px;
  color:black;
  position: relative;
  right: 40px;
  top: 2px;

}

.search-box::placeholder{
  color: #a9a9a9;
}
.nav-logo-text{
 display: flex;
 align-items: center;
 margin-left:10px;

}
.navlogo{
 color: black;
 width: 30px;
 height: 30px;
}
.nav-items p{
  /* margin-left: 20px; */
  padding: 10px;
  font-size: 15px;
  font-weight:600;
  
  
}
.lastitem{

background: #ff686e;
border-bottom: 1px solid #ff4e56;
/* height: 100%; */
color: #fff;
padding:12px;
font-size: 15px;
}





/* .hero-section{
  width: 100%;
  height: calc(100vh - 120px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .logo{
  height: 150px;
  display: block;
  margin: auto;
}

.hero-section .sub-heading{
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
} */

.hero-seaction{
  width: 100vw;
  height: 100vh;

}
.content{
  position:absolute;
  bottom: 60%;
  left: 30%; 
}
.sub-heading{
  font-size: 40px;
  font-weight: 600;
  color:black;
  margin-right: 15%;
 
}


.advert-center {
  display: flex;
  justify-content: space-around;
  /* align-items: center;  */
}
.advert-box {
  padding: 1%;
  margin: 0 auto;
max-width: 588px;
width: 49.9%;
}
.advert-box img {
  height:150px;
  width: 600px;
}

/* category page design------------------------- */
.categoryhead{
  display: table;
margin: 0 auto 20px;
width: 100%;
padding-top: 0;
text-align: center;
}
.categoryh2{
  color: rgba(0,0,0,.95);
  font-weight: 300;
  padding-top: 0;
  font-size: 24px;
  margin-bottom: 20px;

}
.categoryrow{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); 
   gap: 3%; */
   display: grid;
   grid-template-columns: auto auto auto;
   /* grid-column-gap: 1%; */

}

.Categorybox{
  display: flex;
  justify-content: space-between;
  border:1px solid #d4d4d4;
  align-items: center;
  /* padding: 10px; */
  padding: 15px 10px 15px 15px;
  border-radius: 3px;
  /* margin-bottom: 10px; */
  margin: 8px 50px 10px 10px ;

  /* width: 32%;
border: 1px solid #d4d4d4;
float: left;
margin: .5%;
padding: 15px 10px 15px 15px;
border-radius: 3px;
*/
} 
.categoryimg{
  width: 40px;
  height: 40px;
}
.categorytext{
width: 80%;
/* float: left; */
font-size: 15px;
line-height: 31px;

}

.ordersliderh2{
  color: rgba(0,0,0,.95);
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 40px;
  font-size: 24px;
}
/* .ordersliderimg{
  position: relative;
  overflow: hidden;
  padding-bottom: 42%;
  height: 100%;
  width: 100%;
  
} */

/* why pepole love us ---------------------------*/
.cardsh2{
color: rgba(0,0,0,.95);
font-weight: 300;
padding-top: 0;
margin-bottom: 20px;
}
.cardsbody{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
              
.cardsrow{
  
  /* display: block;
  overflow: visible;
  text-align: center; */
}

.cardsimg{
  width: 100%;
  height: auto;
}
.cardstexts{
/* position: absolute;
bottom: 0;
right: 0;
display: block;
overflow: hidden; */
position: relative;
bottom: 36%;
padding:20px;
/* padding-bottom: 100px; */
width: 100%;
min-height: 35%;
background-color: rgba(255,255,255,.8);
border-bottom: 3px solid #fdd670;
}
.cardstexts h2{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}
.cardstexts p{
  margin-bottom: 30px;
}

.supportimg{
  background-size: cover;
background-position: center;
position: relative;
padding-bottom: 80px;
}
/* apps add seaction--------------------------------- */
.appsadd{
 display: flex;
 justify-content: space-around;
}
.appsh3{
  font-weight: 300;
color: rgba(0,0,0,.95);
margin-bottom: 50px;
}
.appsearchbox{
  background-color: #eee;
  border: 2px solid #eee;
      border-right-color: rgb(238, 238, 238);
      border-right-style: solid;
      border-right-width: 2px;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  font-size: 1em;
  line-height: 1em;
  padding: 13px 13px 13px 45px;
  max-width: 100%;
  width: 100%;
  margin: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.appsnum{
  /* position: absolute; */
color: #aaa;
bottom: -30px;
left: 10px;
font-size: .8em;
}
.appsbutton{
  background-color: #ff686e;
  border: 0;
  border-radius: 0 6px 6px 0;
  color: #fff;
  outline: 0;
  max-width: 30%;
  padding: 15px 20px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.appimgs{
  background-repeat: no-repeat;
background-size: contain;
display: inline-block;
height: 74px;
width: auto;
margin: 0;
-webkit-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
.appimg{
  height: 100%;
width: auto;
}
.appview{
  align-self: flex-end;
width: 30%;
height: auto;
}