

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'roboto', sans-serif; */
	font-family: segoe ui, Helvetica, droid sans, Arial, lucida grande, tahoma, verdana, arial, sans-serif;
}

.navbar {
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	/* background: #f5f5f5; */
	background-color: #fdd670;
	z-index: 9;
	/* position: fixed;
top: 0;
left: 0;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
z-index: 3; */
}

.nav {
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	background-color: #fdd670;
	min-width: 315px;
	border-bottom: 1px solid #dfb547;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

.nav-items-logo {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.brand-logo {
	height: 40px;
	background-size: 125px;
	width: 154px;
	margin-left: 25px;
}

#search-box {
	position: relative;
	width: 100%;
	margin: 0;
}

#search-form {
	height: 40px;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#search-text {
	font-size: 14px;
	color: #ddd;
	border-width: 0;
	background: transparent;
}

#search-box input[type="text"] {
	width: 90%;
	padding: 11px 0 12px 1em;
	color: #333;
	outline: none;
}

#search-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 80px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.search-btn {
	height: 20px;
	width: 20px;
	color: black;
	position: relative;
	left: 10px;
	bottom: 5px;
}

.search-icon {
	width: 35px;
	height: 35px;
	position: relative;
}


/* .search button ------------------------------------------------------------------- */

.nav-items {
	display: flex;
	align-items: center;
}

.navitemstextfirst {
	display: flex;
}

.navitemstextsecond {
	display: flex;
}

.nav-logo-text1 {
	display: flex;
	align-items: center;
}

.navlogo1 {
	color: black;
	width: 30px;
	height: 30px;
}

.navlogo2 {
	color: black;
	width: 20px;
	height: 20px;
}

.nav-logo-text {
	display: flex;
	align-items: center;
}

.navlogo {
	color: black;
	width: 30px;
	height: 30px;
}

.nav-items p {
	padding: 10px;
	font-size: 15px;
	font-weight: 600;
}

.nav-logo-text-last {
	width: 150px;
	display: flex;
	align-items: center;
	height: 55px;
}

.lastitem {
	border-radius: 0;
	width: 100%;
	background: #ff686e;
	border-bottom: 1px solid #ff4e56;
	height: 100%;
	color: #fff;
	font-size: 15px;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.hero-section {
	background-image: url("/src/assets/landingBannerTop.jpg");
	background-size: auto;
	background-size: cover;
	height: 325px;
	padding-top: 100px;
}

.sub-heading {
	font-size: 40px;
	font-weight: 700;
	color: black;
	text-align: center;
}

#search-boxhead {
	position: relative;
	width: 100%;
	padding: 10px;
}

#search-formhead {
	height: 40px;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-left: 300px;
	margin-right: 300px;
}

#search-texthead {
	font-size: 14px;
	color: #ddd;
	border-width: 0;
	background: transparent;
}

#search-boxhead input[type="text"] {
	width: 90%;
	padding: 11px 0 12px 1em;
	color: #333;
	outline: none;
}

.search-btnhead {
	height: 20px;
	width: 20px;
	color: black;
	position: relative;
	left: 40px;
	bottom: 5px;
}

.search-iconhead {
	width: 35px;
	height: 35px;
	position: relative;
}


/* advert seaction------------------------------------- */

.advert-center {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.advert-box {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	text-align: center;
}

.advert-box img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
}


/* category page design------------------------- */

.categoryhead {
	display: table;
	margin: 0 auto 20px;
	width: 100%;
	padding-top: 0;
	text-align: center;
}

.categoryh2 {
	color: rgba(0, 0, 0, .95);
	font-weight: 300;
	padding-top: 0;
	font-size: 24px;
	margin-bottom: 20px;
}

.categoryrow {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1%;
	margin-left: 80px;
	margin-right: 80px;
}

.Categorybox {
	display: flex;
	justify-content: space-around;
	border: 1px solid #d4d4d4;
	align-items: center;
	padding: 15px 10px 15px 15px;
	margin-bottom: 2%;
}

.categoryimg {
	width: 40px;
	height: 40px;
}

.categorytext {
	font-size: 15px;
	line-height: 31px;
}


/* .orderslider-------------------------------------- */

.fullorderslider {
	padding: 25px;
	margin-bottom: 10px;
}

.slick-slider {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.slick-slide div {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slick-slide .image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-position: 50% 50%;
	background-size: contain;
	width: auto;
	height: auto;
}

.ordersliders {
	padding: 40px;
}

.ordersliderh2 {
	color: rgba(0, 0, 0, .95);
	font-weight: 300;
	padding-top: 10px;
	margin-bottom: 40px;
	font-size: 24px;
	text-align: center;
}

.orderslider {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	text-align: center;
}

.ordersliderimg {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-position: 50% 50%;
	background-size: contain;
	width: auto;
	height: auto;
}


/* Special Offers slides------------------------------ */

.specialofferslidefull {
	position: relative;
	background: #fff;
	width: 100%;
	margin: auto;
	overflow: hidden;
	-webkit-border-radius: 4px;
}

.specialofferslidelarge img {
	max-height: 100%;
	max-width: calc(100% - 175px);
	width: auto;
	height: auto;
	margin-right: 15px;
}


/* why pepole love us ---------------------------*/

.cardsh2 {
	color: rgba(0, 0, 0, .95);
	font-weight: 300;
	padding-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.cardsbody {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cardsrow {
	display: block;
	overflow: visible;
	text-align: center;
}

.cardsimg {
	width: 100%;
	height: auto;
}

.cardstexts {
	position: relative;
	bottom: 36%;
	padding: 20px;
	width: 100%;
	min-height: 35%;
	background-color: rgba(255, 255, 255, .8);
	border-bottom: 3px solid #fdd670;
}

.cardstexts h2 {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 30px;
}

.cardstexts p {
	margin-bottom: 30px;
}


/* support page ----------------------------------------------- */

.supportseaction {
	background-image: url("/src/assets/banner-corporate-page.jpg");
	position: relative;
	background-size: cover;
	background-position: center;
	position: relative;
	padding-bottom: 80px;
}

.supportseaction::before {
	content: " ";
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #00728f 0, #00566b 100%);
}

.support {
	position: relative;
	color: #eee;
}

.supporttxt {
	margin: 0 auto 20px;
	width: 100%;
	padding-top: 0;
	text-align: center;
}

.supportcards {
	display: flex;
	justify-content: center;
}

.supportcard {
	position: relative;
	padding: 15px;
	margin: 0 15px 15px;
	border-radius: 5px;
	width: 195px;
	background-color: rgba(0, 0, 0, .2);
}

.supportbuttontxt {
	text-align: center;
}

.supportbutton {
	padding: 8px 15px 9px;
	display: inline-block;
	border: 0;
	outline: 0;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	background-color: #ff686e;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}


/* what our clients saying about us---------------------------------- */

.clienth2 {
	color: rgba(0, 0, 0, .95);
	font-weight: 300;
	padding-top: 10px;
	margin-bottom: 40px;
	font-size: 24px;
	text-align: center;
}

.clientseaction {
	position: relative !important;
	bottom: 80px;
}

.clientsay {
	display: flex !important;
	align-items: center;
	justify-content: space-around;
	margin-left: 25px;
	margin-right: 55px;
	padding: 20px;
}

.clienttxt {
	background-color: #eee;
	line-height: 25px;
	font-size: 16px;
	font-weight: 200;
	width: 100%;
	padding: 15px;
	margin-bottom: 30px;
	border-radius: 5px;
	text-align: left;
}

.clientimgtxt {
	text-align: center;
	width: 200px;
}

.clientimgtxt p {
	text-align: center;
}


/* apps add seaction--------------------------------- */

.appsadd {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 80px;
}

.appsh3 {
	font-weight: 300;
	color: rgba(0, 0, 0, .95);
	margin-bottom: 50px;
	margin-left: 90px;
	font-size: 24px;
}

.appsearchbox {
	background-color: #eee;
	border: 2px solid #eee;
	border-right-color: rgb(238, 238, 238);
	border-right-style: solid;
	border-right-width: 2px;
	border-right: 0;
	border-radius: 6px 0 0 6px;
	font-size: 1em;
	line-height: 1em;
	padding: 13px 13px 13px 45px;
	max-width: 100%;
	width: 100%;
	margin: 0;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	margin-bottom: 30px;
}

.appsnum {
	color: #aaa;
	bottom: -30px;
	left: 10px;
	font-size: .8em;
	margin-bottom: 30px;
}

.searchbtn {
	display: flex;
}

.appsbutton {
	background-color: #ff686e;
	border: 0;
	border-radius: 0 6px 6px 0;
	color: #fff;
	outline: 0;
	max-width: 30%;
	padding: 15px 20px;
	margin-bottom: 30px;
}

.appimgs {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 74px;
	width: auto;
	margin: 0;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.appimg {
	height: 100%;
	width: auto;
}

.appview {
	width: 30%;
	text-align: center;
}

.appviewimg {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
}


/* total and loaction page design-------------------------------------------------- */

.total {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
	background: #3a3a3a;
}

.loactionimgcover {
	height: 100%;
	width: 100%;
	text-align: center;
}

.loactionimg {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
}

.totaldetails {
	margin-top: 40px;
	margin-right: 40px;
	text-align: center;
	font-size: 25px;
}

.yellowh2 {
	color: #fdd66f;
	font-weight: 700;
}

.whiteh2 {
	color: #fff;
}


/* footer design------------------------------------------------------------ */

.topfooter {
	display: flex;
	justify-content: space-between;
	background-color: #f7f7f7;
	font-size: 15px;
}

.footer {
	padding: 10px;
	margin-bottom: 50px;
}

.topfooterfirst {
	display: flex;
	align-items: center;
}

.topfooterlogos {
	display: flex;
}

.largetext {
	font-size: 15px;
}

.topfootersecond {
	display: flex;
	align-items: center;
}

.topfooterimg {
	width: 40px;
	height: 40px;
}

.fullsecondfooter {
	display: flex;
	align-items: center;
}

.secondfooterleft {
	border-right: 1px solid #ececec;
	padding-left: 20px;
	padding-right: 10px;
}

.lastfooter {
	display: flex;
	justify-content: space-between;
}

ul {
	list-style: none;
}

ul li {
	padding-bottom: 5px;
	float: initial !important;
	text-align: left;
}

.lastfooterp {
	font-weight: 600;
	border-bottom: 1px solid #ededed;
	font-size: 18px;
	padding-bottom: 10px;
}

.appsimg {
	margin-top: 20px;
	max-width: 360px;
	padding: 5px;
	display: flex;
}

.footappsimg {
	padding: 10px;
}

.secondfooterright {
	width: 30%;
	border-left: 1px solid #f3f3f3;
	padding-left: 10px;
	padding-right: 20px;
}

.footerappimg {
	margin-left: 200px;
}

.topfooterimg {
	padding: 3px;
}

.footeremail {
	margin-left: 160px;
	padding: 10px;
}

.footernumber {
	display: flex;
	justify-content: space-around;
	margin-left: 200px;
	padding: 10px;
}

@media screen and (max-width: 1000px) {
	#search-formhead {
		margin-left: 200px;
		margin-right: 200px;
	}
	.fullsecondfooter {
		flex-direction: column;
		align-items: center;
	}
	.secondfooterright {
		margin-right: 300px;
		text-align: center;
	}
	.footerappimg {
		margin-left: 170px;
	}
	.topfooterimg {
		padding: 3px;
	}
	.footeremail {
		margin-left: 80px;
		padding: 10px;
	}
	.footernumber {
		display: flex;
		justify-content: space-around;
		margin-left: 170px;
		padding: 10px;
	}
}

@media screen and (max-width: 900px) {
	.navitemstextfirst {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.cardsbody {
		grid-template-columns: 1fr;
	}
	.cardstexts {
		position: relative;
		bottom: 10%;
		padding: 2px;
	}
	.advert-center {
		flex-direction: column;
	}
	.appsadd {
		flex-direction: column;
		align-items: center;
	}
	.total {
		flex-direction: column;
	}
	.clientseaction {
		padding: 20px;
		padding-top: 150px;
	}
	#search-formhead {
		margin-left: 100px;
		margin-right: 100px;
	}
}

.newnav {
	background-color: #fdd670;
	padding: 5px;
	display: none;
}

.newnavsecond {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newnavsecondfirst {
	display: flex;
}

.threedot {
	display: none;
}

@media screen and (max-width: 700px) {
	.navitemstextsecond {
		display: none;
	}
	.brand-logo {
		display: none;
	}
	.threedot {
		display: block;
	}
	.newnav {
		display: block;
	}
	.topfooter {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 600px) {
	.clientsay {
		flex-direction: column;
		align-items: center;
	}
	.clienttxt {
		margin-top: 30px;
	}
	.supportcards {
		flex-direction: column;
		align-items: center;
	}
	.supportcard {
		position: relative;
		margin: 0 15px 15px;
		border-radius: 5px;
		width: 195px;
		background-color: rgba(0, 0, 0, .2);
		text-align: center;
	}
	.support {
		position: relative;
		color: #eee;
		top: 25px;
	}
	.totaldetails {
		margin-top: 40px;
		margin-right: 40px;
		text-align: center;
		font-size: 15px;
	}
	.sub-heading {
		font-size: 30px;
		font-weight: 400;
	}
	#search-formhead {
		margin-left: 50px;
		margin-right: 50px;
	}
	.brand-logo {
		display: none;
	}
}

@media screen and (max-width: 250px) {
	.categoryrow {
		margin-left: 10px;
		margin-right: 10px;
	}
	.cardstexts {
		padding: 20px 0px 20px 20px;
	}
	.Categorybox {
		display: flex;
		border: 1px solid #d4d4d4;
		align-items: center;
		padding: 15px 0px 15px 0px;
		margin-bottom: 2%;
	}
	.categoryimg {
		width: 30px;
		height: 30px;
		margin-right: 80px;
	}
	.categorytext {
		font-size: 15px;
		line-height: 31px;
	}
}

@media screen and (max-width: 450px) {
	.categoryrow {
		margin-left: 0px;
		margin-right: 0px;
	}
	.sub-heading {
		font-size: 20px;
		font-weight: 400;
	}
}

